* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
#header{
	width: 100%;
	padding: 15px;
	margin-bottom: 30px;
	border-bottom: 1px solid #aaa;
}

#header p {
	text-align: center;
	font-size: 2em;
	font-weight: 700
}

#content {
	margin: 20px;
}

#menu-block {
	margin-top: 50px;
	width: 100%;
}

#menu-block .menu {
	display: inline;
	margin: 5px;
	text-align: center;
	background-color: #1a4;
	border: 1px solid #1a4;
	border-radius: 8px;
	padding: 25px 30px;
}

#menu-block .menu a {
	padding: 25px 30px;
	text-decoration: none;
	color: #000;
}

#menu-block .menu:hover {
	background-color: #0a5;
}

#cafe-menu {
	margin-top: 50px;
}

.menu-category {
	margin: 20px;
	padding: 20px;
	border: 3px solid #ddd;
	border-radius: 10px;
}

.menu-category h3{
	margin-bottom: 15px;
}

.menu-category .menu-item figure {
	display: inline-block;
	margin: 5px 5px 25px 5px;
}
.tables{
	display: inline-block;
	margin: 5px 5px 25px 5px;
	padding: 40px 100px;
	border: 2px solid #bbb;
	vertical-align: center;
	text-align: center;
	border-radius: center
}
.not-available{
	background-color: #ddd
}
#table_action{
	margin-bottom: 30px;
}
.alert {
	width: 95%;
	background-color: lightblue;
	border: 1px solid darkblue;
	padding: 10px 15px;
	margin: 10px auto;
	border-radius: 8px;
	text-align: center;
}